parameters:
    level: 3
    paths:
        - mrn-schema-bridge.php
    tmpDir: .tmp/phpstan
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    excludePaths:
        analyse:
            - */vendor/*
            - */node_modules/*
            - .tmp/*
